@charset "utf-8";
/* CSS Document */

/*---------------------------Genrael Clases---------------------------------------*/

body {
	font-family: Tahoma!important;
	font-size:12px;
	color:#333;
	background:#E1EDF0;
	/*padding-top:20px;*/
}
* {
	margin:0px;
	padding:0px;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.clr {
	clear:both;
}
ul, li {
	list-style:none;
}
a {
	text-decoration:none;
	color:#333;
}
a:hover {
	text-decoration: underline;
}
img {
	border:0px;
}
/*---------------------------Layout Content Clases---------------------------------*/

#layout {                /*------------------------For Page Main Width------------------------------------*/
	width:1001px;
	margin:auto; 
}

.main-container{ background:url(../images/main-page-content-bg.png) no-repeat top center}

#top {
	height:120px;
	
	position: relative; margin:0 0 15px;

	
}
#logo {
	position:absolute;
	left:5px;
	top:50px;
}
#topContent {
	position:absolute;
	right:10px;
	top:15px;
	font-size:18px;
	color:#fa0000;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#topContent span {
	color:#000;
}
#nav {
	position:absolute;
	bottom:0px;
	right:0px;
	border-bottom:#fa0000 solid 2px;
	width:100%;
}
#nav ul {
	height:31px;
	float:right;
	padding-right:0px;
}
#nav ul li {
	float:left;
	height:31px;
	overflow: hidden;
	margin-left:4px;
}
#nav ul li a {
	line-height:31px;
	padding:0 20px;
	font-size:13px;
	color:#FFF;
	text-transform:uppercase;
	font-family:Tahoma;
	display:block;
	background:#3d8dbb; 

	border-radius: 5px 5px 0 0; border-top:1px solid #3d8db;
}
#nav ul li a:hover {
	background:#fa0000;
	color:#FFF;
	text-decoration:none; border-bottom:1px solid #3d8db;
}
#content {
	padding:15px 0px;
	background:#FFF;

	border-radius: 0 0 10px 10px;
}
.leftSide {
	float:left;
	width:730px;
}
.welcome_box h2 {
	background: url(../images/green-bg.gif) repeat-x left top;
	height:36px;
	font-size:22px;
	color:#045aa7;
	font-weight:normal;
}
.readmore {
	font-size:12px;
	text-align:right;
}
.readmore a {
	color:#045AA7;
	text-decoration:none;
}
.readmore a:hover {
	text-decoration: underline;
}
.readmore a span {
	float:left;
	background: url(../images/read-right.gif) no-repeat right top;
	height:22px;
	padding:0 10px;
	line-height:21px;
	cursor:pointer;
}
.welcome_box p {
	line-height:17px;
	margin-bottom:10px;
}
.servicebox {
	background: #cfeaf1;
	border:#cfeaf1 solid 1px;
	border-radius: 10px;
	padding:14px;
	padding-bottom:10px;
}
.servicebox h4 {
	color:red;
	font-size:18px;
	font-weight:normal;
	border-bottom:#5C5C5C dotted 1px;
	padding-bottom:3px;
	margin-bottom:10px;
}
.offer-box {
	float: right;
	width:327px;
}
.focus-box {
	float:left;
	width:345px;
}
.servicebox li {
	background: url(../images/bulit.png) no-repeat left 2px;
	padding-left:20px;
	padding-bottom:5px;
	line-height:18px;
}
.rightSide {
	float:right;
	width:208px;
}
.rightbox h3 {
	background: url(../images/green-bg.gif) repeat-x left top;
	height:36px;
	font-size:18px;
	font-weight:normal;
}
.rightbox {
	background: #cfeaf1;
	border:#cfeaf1 solid 1px;
	border-radius: 10px;
	padding:14px;
	padding-bottom:10px;
	margin-bottom:10px;
}
.rightbox li {
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:#C7BBAD dotted 1px;
}
.readmore {
	height:22px;
	margin-bottom:15px;
}
.veiw-all {
	text-align:right;
	font-style:italic;
}
.veiw-all a {
	color:#262626;
}
.resons {
	margin-bottom:15px;
	background: url(../images/resons.gif) repeat-y left top;
	height:131px;
}
.resons h3 {
	padding:15px 0 0;
	font-size:16px;
	color:#FFFFFF;
	padding-left:50px;
	margin-bottom:15px;
}
.resons h4 {
	padding:0 12px;
	font-size:20px;
	font-weight:normal;
	color:#FFFFFF;
}
.resons p {
	font-size:13px;
	color:#FFFFFF;
	padding:0 12px;
	margin-bottom:3px;
}
.resons p span {
	font-size:18px;
}
.resons .veiw-all {
	padding:5px 10px 0;
}
.resons .veiw-all a {
	float:right;
	background:#ff0400;

	border-radius: 10px;
	padding:2px 10px;
	color:#FFF;
	font-style:italic;
	font-size:11px;
	text-decoration:none;
}
.resons .veiw-all a:hover {
	text-decoration:none;
}
.livesupport {
	text-align: center;
}
#footer {
	background:#E1EDF0;
	color:#333;
	text-align:center;
	padding:10px;
	line-height:20px; font-size:11px;
}
#footer a {
	color:#333;
	margin:0 10px;
}


/*********************** ***/
#top #logo a{ color:red}
#top .social-sharing{  left: 5px; position: absolute; top: 5px; color:#3D8DBB}
#top .social-sharing a{ color:#3D8DBB; font-size:11px; font-weight:bold; font-family:Tahoma;} 
#top .social-sharing a:hover{ color:red}

#top .search-query{ position:absolute; top:40px; right:0px;}
#top .search-query input[type="text"]{  background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #3D8DBB; float: left; font-size: 10px; height: 15px; line-height: 15px; padding: 2px; width: 201px; float:left}
#top .search-query input[type="submit"]{ border:0px; background:none; font-family:Tahoma; font-size:11px; font-weight:bold; color:#fff; cursor:pointer; padding:0 10px; margin-top: 1px;}
#top .search-query .button{ background:#3D8DBB;  text-align:center; float:left; height: 21px; line-height: 21px; border-radius:0 5px 5px 0}
#top .search-query .button:hover{ background:red}

#top .usr-login{ position:absolute; top:10px; right:-10px;}
#top .usr-login a{ display:inline-block; text-decoration:underline; margin:0 10px; font-size:11px; font-weight:bold; color:#3D8DBB;}
#top .usr-login a:hover{ text-decoration:none; color:red}

#top .usr-login input[type="text"]{ background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #3D8DBB; float: left; font-size: 10px; height: 15px; line-height: 15px; padding: 2px; width: 100px; float:left;  margin-right:10px; margin-bottom:6px}
#top .usr-login .fb-login{ background:#3D8DBB;  text-align:center; float:left; height: 21px; float:left; border-radius: 5px;}
#top .usr-login .fb-login:hover{ background:red}
#top .usr-login .fb-login input{ border:0px; background:none; font-family:Tahoma; font-size:11px; font-weight:bold; color:#fff; cursor:pointer; padding:1px 2px; margin-top: 1px; }

#top .usr-login .login{ background:#3D8DBB;  text-align:center; float:right; height: 21px; line-height: 21px; margin-right:10px; border-radius: 5px;}
#top .usr-login .login:hover{ background:red}
#top .usr-login .login input{ border:0px; background:none; font-family:Tahoma; font-size:11px; font-weight:bold; color:#fff; cursor:pointer; padding:0 2px; margin-top: 1px;}


.container{ padding:10px; background:#fff;  border-radius: 0;}

#header{  border-bottom: 2px solid red; padding: 0 0 15px;}
#header .banner-txt{ width:300px; float:left; text-align:center}
#header .banner-txt .singup{ background:#3D8DBB;  text-align:center; height: 36px; line-height: 36px; border-radius:5px; display:inline-block; margin:0 0 30px; }
#header .banner-txt .singup:hover{ background:red}
#header .banner-txt .singup a{ display:block; font-size:16px; font-weight:bold; color:#fff; cursor:pointer; padding:0 20px;}
#header .banner-txt .singup a:hover{ text-decoration:none}
#header .banner-txt .singup input{ border:0px; background:none; font-family:Tahoma; font-size:11px; font-weight:bold; color:#fff; cursor:pointer; padding:0 2px; margin: 5px 0 0;}
#header .banner-txt h4{ color:#045AA7; font-size:24px; padding:0px; margin:56px 0 10px}
#header .banner-txt p{ font-size:14px;}
#header .banner-img{ width:680px; float:right}
#header .banner-img img{ width:100%;}

#content .trending-content{ width:290px; float:left; margin:0 25px 0 0; background:#E1EDF0; padding:10px; border-radius:5px; margin-bottom:15px; }
#content .trending-content h4{  color:#045AA7; font-weight: normal; font-size:17px; padding:0px !important; margin:0px; line-height:36px; float:left;}
#content .trending-content .select-div{ border:1px solid #333; width:80px; float:right; margin-top:6px;}
#content .trending-content .select-div select{ border:0px; width:100%}
#content .trending-content .list{ border:1px solid #045AA7}
#content .trending-content .list li{ float:left; width:100%; border-bottom:1px solid #045AA7; line-height:26px; font-size:12px;}
#content .trending-content .list li h5{ font-size:12px; text-transform:capitalize; color:#045AA7 }
#content .trending-content .list li .sport{ width:70px; border-right:1px solid #045AA7; float:left; padding-left:6px;}
#content .trending-content .list li .event{ width:130px; float:left; padding-left:6px; border-right:1px solid #045AA7;}
#content .trending-content .list li .score{ width:68px; float:left; padding-left:6px;}
#content .trending-content .list li:last-child{ border-bottom:0px;}
#content .trending-content a{  display:table; text-align:center; margin:15px auto auto; font-size:11px; font-style:italic; text-decoration:underline; color:#045AA7; font-weight:bold; float:right }
#content .trending-content a:hover{ text-decoration:none; color:red}

#content .mid-content{ width:290px; float:left; margin-right:20px; padding:10px; background:#E1EDF0; border-radius:5px;  margin-bottom:15px;}
#content .mid-content h4{ color:#045AA7; font-weight: normal; font-size:17px; padding:0px !important; margin:0px; line-height:36px; }
#content .mid-content li{  float:left; margin:0 0 9px; width:100%; border-bottom:1px dashed #045AA7; padding:0 0 9px;}
#content .mid-content li .img-div{ border:3px solid #fff; border-radius:3px; width:80px; height:75px; float:left; margin-right:10px; box-shadow: 0 1px 4px 2px #CCCCCC;}
#content .mid-content li .img-div img{ width:80px; height:75px;}
#content .mid-content li .txt-div{}
#content .mid-content li .txt-div h5{ font-size:12px; margin: 0 0 5px; padding: 0; color:#045AA7}
#content .mid-content li .txt-div p{}
#content .mid-content a{  display:table; text-align:center; margin:15px auto auto; font-size:11px; font-style:italic; text-decoration:underline; color:#045AA7; font-weight:bold; float:right }
#content .mid-content a:hover{ text-decoration:none; color:red}
#content .mid-content li:last-child{ margin-bottom:0px;}


#content .rite-content{ width:290px; float:right; padding:10px; background:#E1EDF0; border-radius:5px;  margin-bottom:15px;}
#content .rite-content h4{  color:#045AA7; font-weight: normal; font-size:17px; padding:0px !important; margin:0px; line-height:36px; }
#content .rite-content li{  float:left; margin:0 0 10px; width:100%; border-bottom:1px dashed #045AA7; padding:0 0 9px;}
#content .rite-content li .img-div{ border:3px solid #fff; border-radius:3px; width:80px; height:75px; float:left; margin-right:10px; box-shadow: 0 1px 4px 2px #CCCCCC;}
#content .rite-content li .img-div img{ width:80px; height:75px;}
#content .rite-content li .txt-div{}
#content .rite-content li .txt-div h5{ font-size:12px; margin: 0 0 5px; padding: 0; color:#045AA7}
#content .rite-content li .txt-div p{}
#content .rite-content a{  display:table; text-align:center; margin:15px auto auto; font-size:11px; font-style:italic; text-decoration:underline; color:#045AA7; font-weight:bold ; float:right}
#content .rite-content a:hover{ text-decoration:none; color:red}
#content .rite-content li:last-child{ margin-bottom:0px;}

.latest-news-listing{}
.latest-news-listing h4{color: #045AA7; font-size: 20px; margin: 0 0 15px; padding: 0;}
.latest-news-listing h4 a{ display: inline-block; font-size: 11px; margin-left: 20px; position: relative; text-decoration: underline; top: -1px; font-style:italic; color: #045AA7;}
.latest-news-listing h4 a:hover{ text-decoration:none}
.latest-news-listing li{ width:480px; float:left; margin:0 0 15px;}
.latest-news-listing li h5{ color:#045AA7; font-size:14px; padding:0px; margin:0 0 15px;}
.latest-news-listing li .img-div{ border:3px solid #fff; border-radius:3px; width:100px; height:85px; float:left; margin-right:15px; box-shadow: 0 1px 4px 2px #CCCCCC;}
.latest-news-listing li .img-div img{ width:100px; height:85px;}
.latest-news-listing li .txt-div{ width:359px; float:left}
.latest-news-listing li .txt-div p{ font-size:12px; line-height:18px; color:#333 }
.latest-news-listing li.scnd{ float:right}


label.button{ cursor: pointer; display: inline-block; font-size: 11px; font-weight: bold; line-height: 13px; padding: 2px 6px; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; background:#ccc} 
label.button input{ background: none repeat scroll 0 0 transparent; border: 0 none; color: #333333; cursor: pointer; display: inline-block; font-size: 11px; font-weight: bold; line-height: 13px; margin: 0; padding: 1px 0 2px; white-space: nowrap;}

.top-heading{   background: none repeat scroll 0 0 #045AA7; border-radius: 5px 5px 0 0; left: -10px; position: relative; top: -9px; width: 310px; height:36px;} 
.top-heading h4{ color:#fff!important;color: #FFFFFF !important; margin-left: 10px !important; margin-top: 0px !important; padding: 4px 0 0 !important;}
.top-heading .select-div{ color:#fff; border:1px solid #fff!important; margin-right: 10px;}
.top-heading .select-div select{  border:1px solid #fff!important}

a.view-all-link{ float:right; display: inline-block; font-size: 11px; margin-left: 20px; position: relative; text-decoration: underline; top: -1px; font-style:italic; color: #045AA7; font-weight:bold}
a.view-all-link:hover{ text-decoration:none; color:red}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #top .search-query input[type="submit"], #top .usr-login .login input{ margin-top:3px;}
	.myfollowers-content .frnds-search .search-button{ height:20px;}
}


/* 3.12 */

.myfollowers-content{ padding:0 10px;}
.myfollowers-content h4{ color: #3D8DBB; font-size: 20px; font-weight:normal; margin: 0 0 15px; padding: 0;}
.myfollowers-content .alphabets-order{     background: none repeat scroll 0 0 #CCCCCC;
    border-bottom: 1px solid #3D8DBB;
    margin-top: 3px;
    padding: 7px 10px;}
.myfollowers-content .alphabets-order a{ display:inline-block; text-transform:uppercase; font-size:12px; padding:1px 2px ; color:#fff;}
.myfollowers-content .alphabets-order a:hover{ background:#000; color:#FFF; text-decoration:none;}
.myfollowers-content .frnds-search{     float: right;
    margin-right: 10px;
    margin-top: -25px;
    width: 178px;}
.myfollowers-content .frnds-search .txt-field{  width:120px; font-size:11px; padding:0px 3px; height:20px; float:left }
.myfollowers-content .frnds-search input[type="text"]{    background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #3D8DBB; float: left; font-size: 10px; height: 15px; line-height: 15px; margin-bottom: 6px; margin-right: 10px; padding: 2px; width: 114px;}
.myfollowers-content .frnds-search .search-button{ background: #3D8DBB; width:50px; float:right; height:20px; text-align:center}
.myfollowers-content .frnds-search .search-button input{ border:0px; background:none; color:#fff; font-size:10px; font-weight:bold; cursor:pointer; padding:2px 0 0}
.myfollowers-content .frnds-search .search-button:hover{ background:red}


.myfollowers-content .list{ padding:20px 0 0}
.myfollowers-content .list li{ float:left; width:312px; margin:0 10px 20px 0;   border-bottom: 1px dashed #045AA7; padding-bottom:15px;}
.myfollowers-content .list li.last-li{ margin-right:0px;}
.myfollowers-content .list .usr-img{ border: 3px solid #FFFFFF; border-radius: 3px 3px 3px 3px; box-shadow: 0 1px 4px 2px #CCCCCC; float: left; height: 80px; margin-right: 10px; width: 92px;}
.myfollowers-content .list .usr-img img { height: 80px; width: 92px; }
.myfollowers-content .list .txt-div { float: left; width: 178px; }
.myfollowers-content .list .txt-div h5 { color: #3D8DBB; font-size: 12px;  margin: 0 0 5px;  padding: 0; }
.myfollowers-content .list .txt-div a{ display:inline-block; background:#3D8DBB; width:70px; text-align:center; line-height:24px; height:24px; color:#fff; font-weight:bold; font-size:12px; float:left; margin-right:6px; margin-top:20px;}
.myfollowers-content .list .txt-div a:hover{ background:red; text-decoration:none}

.myfollowers-content .frnds-list-container{ padding:0px;}

#top .user-score{ text-align:right; font-weight:bold; font-size:15px; position:absolute; top:35px; right:0px;}
#top .loggedin-menu{ position:absolute; top:60px; right:0px; text-align:right; color:#3D8DBB}
#top .loggedin-menu a{ display:inline-block; text-decoration:underline; font-size:12px; color:#3D8DBB; margin:0 5px;}
#top .loggedin-menu a:hover{ color:red; text-decoration:none}
#top .loggedin-menu a:last-child{ margin-right:0px;}

/*----------------Registration----------------------*/

#registration {
	background:url(../images/registration-bg.png) repeat-y top center;
	padding-bottom:20px;
}
#registration .registration-left {
float:left;
width:405px;
 }
#registration .registration-right {
float:left;
width:516px;
padding-left:60px; 	
 }
.top-hd{   background: #045AA7; border-radius: 5px 5px 0 0; height:36px ;margin-bottom:20px;}
.top-hd h4 {
    color: #FFFFFF;
    padding:0 10px ;
	font-weight:normal;
	line-height:36px;
	font-size:17px;
}
#registration  ul li {
	float:left;
	margin-bottom:10px;
}
#registration ul li label {
	float:left;
	text-align:right;
	width:140px;
	padding-right:10px;
}
#registration ul li input {
	float:left;
	width:232px;
    border: 1px solid #3D8DBB;
    font-size: 10px;
    padding: 2px;
 }    
 
#registration ul li .btn {
    background:#3D8DBB;
    border-radius: 5px;
    height: 30px;
	float:left;
    text-align: center;
}
#registration ul li .btn:hover,
#registration  .registration-right .btn:hover a {
	background:red;
	text-decoration:none;
	}
#registration ul li .btn input {
    background: none;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    padding: 5px 8px;
	width:auto;
} 
#registration  .registration-right .btn {
    height: 30px;
    text-align: center;
	float:none;
	margin:60px auto;
	display:block;
}
#registration  .registration-right  .btn a {
    color: #FFFFFF;
    cursor: pointer;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    padding: 8px 15px;
	 background:#3D8DBB;
    border-radius: 5px;
} 

/* 3.13 */

.myfriends-content{ border-bottom:5px solid #ccc}
.myfriends-content .top-user-menu{ margin:0 0 20px;}
.myfriends-content .top-user-menu a{ display:inline-block; margin-right:10px; color:#3D8DBB; font-size:12px; text-decoration:underline}
.myfriends-content .top-user-menu a:hover{ text-decoration:none; color:red}
.invite-frnd-link{ width:auto; margin:25px auto auto; text-align:center}
.invite-frnd-link a{ display:inline-table; padding:0 20px; background: none repeat scroll 0 0 #3D8DBB; color: #FFFFFF; font-size: 12px; font-weight: bold; height: 24px; line-height: 24px; }
.invite-frnd-link a:hover{ background:red; text-decoration:none}